<div class="col-sm-15" ng-show="showInfo !== true">
    <form role="form">
        <div class="form-group">
            <label i18n="interviewerName"></label>
            <input type="text"
                   ng-model="interviewerName"
                   class="form-control"
                   required="true"
                   placeholder="Enter interviewer name.">
        </div>
        <div class="form-group">
            <label i18n="contactName"></label>
            <input type="text"
                   ng-model="contactId"
                   typeahead="name for name in contactNames | filter:$viewValue | limitTo:10"
                   class="form-control"
                   required="true"
                   placeholder="Enter contact name.">
        </div>
        <button type="button"
                ng-click="getContactInfo()"
                class="btn btn-info btn-lg btn-block"
                ng-disabled="isLoading === true">
            <i ng-if="isLoading !== true" class="fa fa-chevron-circle-right"></i>
            <span ng-if="isLoading !== true" i18n="followup"></span>
            <span ng-if="isLoading === true" i18n="loading"></span>
            <i ng-if="isLoading === true" class="fa fa-spinner fa-spin"></i>
        </button>
    </form>
    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Last Visited Contacts - {{ today | date:'dd MMM, yyyy' }}</h1>
        </div>
        <table class="table table-bordered table-condensed table-hover">
            <thead>
            <tr>
                <td>#</td>
                <th i18n="nameOfContact"></th>
                <th i18n="dateLastContacted"></th>
                <th i18n="synced"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contact in contactList | limitTo:10" ng-click="syncContact(contact)">
                <td>{{ $index + 1 }}</td>
                <td>{{ contact.Surname }} {{ contact.OtherNames }}</td>
                <td>{{ getDate(contact.DateLastContact) | date:'dd MMM, yy' }}</td>
                <td><i class="fa "
                       ng-class="{'fa-check-circle text-success': contact.synced, 'fa-times-circle text-danger': !contact.synced}">

                </i></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-sm-15" ng-if="showInfo === true">
<button type="button"
        ng-click="showForm()"
        class="btn btn-default btn-lg btn-block">
    <i class="fa fa-chevron-circle-left"></i>
    <span i18n="back"></span>
</button>
<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-user"></i>
            <span i18n="patientInfo"></span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label i18n="nameOfContact"></label><br/>
            <span>{{ contactPerson.Surname }} {{ contactPerson.OtherNames }}</span>
        </div>
        <div class="form-group">
            <label i18n="lgaName"></label><br/>
            <span ng-bind="contactPerson.LGA"></span>
        </div>
        <div class="form-group">
            <label i18n="address"></label><br/>
            <span ng-bind="contactPerson.Address"></span>
        </div>
        <div class="form-group">
            <label i18n="phoneNo"></label><br/>
            <span ng-bind="contactPerson.Phone"></span>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="fa fa-question-circle"></i>
            <span i18n="symptomsQuestionnaire"></span>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <div class="col-md-15">
                <label>Temperature reading (in degree celsius)?</label>
                <input type="number"
                       class="form-control"
                       ng-model="(dailyVisit.symptoms).temperature"/>
                <span class="help-block">Enter temperature reading in degree celsius.</span>
                    <span class="help-block custom-error"
                          ng-show="invalid.temperature === true">Enter a number as temperature reading, e.g 29.6</span>
            </div>
        </div>
        <div class="list-group-item">
            <div class="col-md-15">
                <label>Any sign of Malaise?</label>
                <label class="radio-inline">
                    <input type="radio"
                           ng-value="true"
                           ng-model="(dailyVisit.symptoms).malaise"/>
                    <span i18n="yes"></span>
                </label>
                <label class="radio-inline">
                    <input type="radio"
                           ng-value="false"
                           ng-model="(dailyVisit.symptoms).malaise"/>
                    <span i18n="no"></span>
                </label>
                    <span class="help-block custom-error"
                          i18n="answerErrorMsg"
                          ng-show="invalid.malaise === true"></span>
            </div>
        </div>
        <div class="list-group-item">
            <div class="col-md-15">
                <label>Any sign of Muscle pain?</label>
                <label class="radio-inline">
                    <input type="radio"
                           ng-value="true"
                           ng-model="(dailyVisit.symptoms).musclePain"/>
                    <span i18n="yes"></span>
                </label>
                <label class="radio-inline">
                    <input type="radio"
                           ng-value="false"
                           ng-model="(dailyVisit.symptoms).musclePain"/>
                    <span i18n="no"></span>
                </label>
                    <span class="help-block custom-error"
                          i18n="answerErrorMsg"
                          ng-show="invalid.musclePain === true"></span>
            </div>
        </div>
        <div class="list-group-item">
            <div class="col-md-15">
                <label>Any sign of Headache?</label>
                <label class="radio-inline">
                    <input type="radio"
                           ng-model="(dailyVisit.symptoms).headache"
                           ng-value="true"/>
                    <span i18n="yes"></span>
                </label>
                <label class="radio-inline">
                    <input type="radio"
                           ng-model="(dailyVisit.symptoms).headache"
                           ng-value="false">
                    <span i18n="no"></span>
                </label>
                    <span class="help-block custom-error"
                          i18n="answerErrorMsg"
                          ng-show="invalid.headache === true"></span>
            </div>
        </div>
    </div>
    <div class="list-group-item">
        <div class="col-md-15">
            <label>Any sign of Pharyngitis?</label>
            <label class="radio-inline">
                <input type="radio"
                       ng-model="(dailyVisit.symptoms).pharyngitis"
                       ng-value="true"/>
                <span i18n="yes"></span>
            </label>
            <label class="radio-inline">
                <input type="radio"
                       ng-model="(dailyVisit.symptoms).pharyngitis"
                       ng-value="false">
                <span i18n="no"></span>
            </label>
                <span class="help-block custom-error"
                      i18n="answerErrorMsg"
                      ng-show="invalid.pharyngitis === true"></span>
        </div>
    </div>
    <div class="list-group-item">
        <div class="col-md-15">
            <label>Any Vomiting?</label>
            <label class="radio-inline">
                <input type="radio"
                       ng-model="(dailyVisit.symptoms).vomiting"
                       ng-value="true"/>
                <span i18n="yes"></span>
            </label>
            <label class="radio-inline">
                <input type="radio"
                       ng-model="(dailyVisit.symptoms).vomiting"
                       ng-value="false">
                <span i18n="no"></span>
            </label>
                <span class="help-block custom-error"
                      i18n="answerErrorMsg"
                      ng-show="invalid.vomiting === true"></span>
        </div>
    </div>
    <div class="list-group-item">
        <div class="col-md-15">
            <label>Any Diarrhoea?</label>
            <label class="radio-inline">
                <input type="radio"
                       ng-model="(dailyVisit.symptoms).diarrhoea"
                       ng-value="true"/>
                <span i18n="yes"></span>
            </label>
            <label class="radio-inline">
                <input type="radio"
                       ng-model="(dailyVisit.symptoms).diarrhoea"
                       ng-value="false">
                <span i18n="no"></span>
            </label>
                <span class="help-block custom-error"
                      i18n="answerErrorMsg"
                      ng-show="invalid.diarrhoea === true">
                </span>
        </div>
    </div>
    <div class="list-group-item">
        <div class="col-md-15">
            <label>Any Maculopapular Rash?</label>
            <label class="radio-inline">
                <input type="radio"
                       ng-model="(dailyVisit.symptoms).maculopapular"
                       ng-value="true"/>
                <span i18n="yes"></span>
            </label>
            <label class="radio-inline">
                <input type="radio"
                       ng-model="(dailyVisit.symptoms).maculopapular"
                       ng-value="false">
                <span i18n="no"></span>
            </label>
                <span class="help-block custom-error"
                      i18n="answerErrorMsg"
                      ng-show="invalid.maculopapular === true">
                </span>
        </div>
    </div>
    <div class="list-group-item">
        <div class="col-md-15">
            <label>Any Haemorrhagic signs?</label>
            <label class="radio-inline">
                <input type="radio"
                       ng-model="(dailyVisit.symptoms).haemorrhagic"
                       ng-value="true"/>
                <span i18n="yes"></span>
            </label>
            <label class="radio-inline">
                <input type="radio"
                       ng-model="(dailyVisit.symptoms).haemorrhagic"
                       ng-value="false">
                <span i18n="no"></span>
            </label>
                <span class="help-block custom-error"
                      i18n="answerErrorMsg"
                      ng-show="invalid.haemorrhagic === true">
                </span>
        </div>
    </div>
    <div class="list-group-item">
        <div class="col-md-15">
            <label>Comment on contact</label>
            <textarea class="form-control"
                      rows="3"
                      ng-model="dailyVisit.comment"></textarea>
        </div>
    </div>
</div>
<button type="button"
        ng-click="reportDailyVisit()"
        class="btn btn-success btn-lg btn-block">
    <i class="fa fa-plus-circle" ng-show="isReporting === false"></i>
    <span ng-show="isReporting === false">Report Daily Visit</span>
    <span ng-if="isReporting === true" i18n="loading"></span>
    <i ng-if="isReporting === true" class="fa fa-spinner fa-spin"></i>
</button>
</div>

<ui-view/>
